html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 1.6rem;
  line-height: 1;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.5px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}
img {
  width: 100%;
}
